{% load staticfiles i18n menu_links %}{#{% load compress %}#}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}OLCMS{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    {# HTML5 shim, for IE6-8 support of HTML5 elements #}
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    {# Latest compiled and minified Bootstrap 4 Alpha 6 CSS --> #}
      {% if not USE_LOCAL_ASSETS %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
      {% else %}
          {% static "thirdparty/css/bootstrap.css" %}
      {% endif %}

    {% block page-css %}
    {% endblock page-css%}

{#    {% compress css %}#}
    {# Third party css files #}
      <link href="{% static 'thirdparty/css/tokenfield-typeahead.css' %}" rel="stylesheet">
      <link href="{% static 'thirdparty/css/bootstrap-tokenfield.css' %}" rel="stylesheet">
      <link href="{% static "thirdparty/css/font-awesome.min.css"%}" rel="stylesheet">

{#    {% endcompress %}#}
{#    {% compress css %}#}

    {#  This file stores project-specific CSS #}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
{#    {% endcompress %}#}

    {% endblock %}

  </head>

  <body>

    <div class="m-b-1">
      <nav class="navbar navbar-expand-md fixed-top navbar-custom navbar-rev {{ toolbar_styling_discipline }}">
        <div class="container">
        {% block navbar %}
          <a class="navbar-brand" href="/">OLCMS</a>

          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars navbar-brand"></i>
          </button>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="navbar-nav mr-auto">
            {% block navbar-base %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="about-menu-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-question"></i>
                    {% trans "About" %}
                </a>
                <div class="dropdown-menu" aria-labelledby="about-menu-item">

                  {% get_current_language as language_code %}
                  {% menu_links "menu_links" language=language_code %}

                  {% for link in menu_links %}
                    {% if link.url %}
                      <a class="dropdown-item" href="{{ link.url }}"> {{ link.label }}</a>
                    {% else %}
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item disabled"><strong>{{ link.label }}</strong></a>
                    {% endif %}
                {% endfor %}


                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ DISCOURSE_ROOT_URL }}">
                  <i class="fa fa-comment"></i> {% trans "Forum" %}
                </a>
              </li>
            {% endblock navbar-base %}

            {% block navbar-extra %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="course-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans "Courses" %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url "course:list" %}">
                      <i class="fa fa-list" aria-hidden="true"></i>
                      {% trans  "Course list" %}
                  </a>
                  {% if request.user.is_authenticated %}
                  <a class="dropdown-item" href="{% url "course:new" %}">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      {% trans "Create course" %}
                  </a>
                  <a class="dropdown-item" href="{% url "course:my-list" %}">
                      <i class="fa fa-list" aria-hidden="true"></i>
                      {% trans  "My courses list" %}
                  </a>
                  {% endif %}
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="content-item-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-flask"></i>
                    {% trans "Our materials" %}
                </a>
                <div class="dropdown-menu" aria-labelledby="content-item-menu">
                  {% for discipline in ALL_DISCIPLINES %}
                      <a class="dropdown-item" href="{% url "landing-discipline" discipline=discipline.slug %}">
                        <i class="fa fa-flask  {{ discipline.slug }}" aria-hidden="true"></i>
                        {% trans  discipline.name %}
                      </a>
                  {% endfor %}
                  <a class="dropdown-item" href="{% url "content_item:search" %}">
                      <i class="fa fa-search" aria-hidden="true"></i>
                      {% trans  "Search all disciplines" %}
                  </a>
                  {% if request.user.is_authenticated %}
                  <a class="dropdown-item" href="{% url "content_item:add" %}">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      {% trans "Add" %}
                  </a>
                  {% endif %}
                </div>
              </li>
            {% endblock navbar-extra %}
            </ul>

          {% block navbar-user %}
            <a href="http://www.stem4youth.eu/" target="_blank"
               style="margin-left: auto; margin-right: auto;"
               class="d-none d-lg-block d-xl-block">
                <img src="{% static 'logos/bar_s4y.png' %}" />
            </a>
            <ul class="navbar-nav">
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                </li>
                <li class="nav-item">
                  <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                </li>
              {% endif %}
            {% endblock navbar-user %}
            </ul>
          </div>
        {% endblock navbar %}
        </div>
      </nav>
    </div>

    <div class="container">

      {% block messages %}
        <div id="messages">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        </div>
      {% endblock messages  %}

      {% block content %}
      {% endblock content %}

    </div> <!-- /container -->


    <footer class="footer">
      {% block footer %}
      {% endblock footer %}
      <div class="container text-muted text-sm-center">
        <p>
          <iframe src="https://www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fstemforyouth&width=100&height=65&layout=button&size=small&show_faces=false&appId" width="75" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          <a href="https://twitter.com/intent/tweet?screen_name=StemForYouth&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @StemForYouth</a>
          <br>

          <a href="/about">
            <i class="fa fa-question"></i>
            {% trans "About" %}
          </a>&nbsp;
          <a href="/terms"><i class="fa fa-legal"></i>{% trans "Terms and conditions" %}</a>
          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#language-modal">
            {% get_current_language as current_lang %}
            {{ current_lang|language_name_local }} {% trans "Switch language" %}
          </button>
        </p>
        <p>
        {% blocktrans %}
        Project on Apache license. <a href="https://bitbucket.org/olcms/www/"> Feel free to clone <i class="fa fa-bitbucket-square"></i> our repositories </a>.
        {% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}
          This project has received funding from the European Union Horizon 2020 Research and Innovation programme under <a target="_blank" href="http://cordis.europa.eu/project/rcn/203170_en.html">grant agreement no. 710577</a>.

          {% endblocktrans %}
          <img src="{% static "logos/EC logo.png" %}" alt="EC logo" style="width: auto; height: 1em;">
        </p>
      </div>
    </footer>


    {% block modal %}{% endblock modal %}

    <!-- Modal -->
    <div class="modal fade" id="language-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{% trans "Change the language for this session" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ request.get_full_path }}">
                <div class="form-group">
                 <label for="select-language">{% trans "Change OLCMS language" %}</label>
                 <select  id="select-language"  class="form-control" name="language" aria-label="{% trans "Change the language" %}">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
                </div>

              <button type="submit" class="btn btn-primary">{% trans "Update the language" %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{#     Le javascript  #}
{#    ================================================== #}
{#    Placed at the end of the document so the pages load faster#}
    {% block javascript %}
{#      Required by Bootstrap v4 Alpha 6 #}
        {% if not USE_LOCAL_ASSETS %}
            <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
{#            <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>#}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

        {% else %}
            <script src="{% static "thirdparty/js/jquery-3.1.1.js" %}"></script>
            <script src="{% static "thirdparty/js/popper.min.js" %}"></script>
            <script src="{% static "thirdparty/js/bootstrap.min.js" %}"></script>
        {% endif %}
{#    Thirdparty JS  #}
{#      {% compress js %}#}
        <script src="{% static "thirdparty/js/bootstrap-tokenfield.js" %}"></script>
        <script src="{% static "thirdparty/js/typeahead.bundle.js" %}"></script>
{#      {% endcompress %}#}
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

{#      place project specific Javascript in this file#}
      <script src="{% url 'javascript-catalog' %}"></script>
{#      {% compress js %}#}
        <script src="{% static 'js/project.js' %}"></script>
        <script src="{% static "js/resources/resources.js" %}"></script>
        <script src="{% static 'js/fix_csrf.js' %}"></script>

        {% if not debug %}
          {# This file is generated by collectstatic.sh. In debug configuration js is served by dynamic #}
          {# view (see after endcompress tag) #}
          <script src="{% static 'js/reverse.js' %}"></script>
        {% endif %}
{#      {% endcompress %}#}


      {% if debug %}
           <script src="{% url 'js_reverse' %}"></script>
      {% endif %}

      {% include "fragments/analytics.html" %}

      {% block page_js %}

      {% endblock %}

    {% endblock javascript %}
  </body>
</html>

