{% extends "base.html" %}

{% block content %}
  <h1>{{ object.title }}</h1>
  <div class="feincms">
  {% for content in object.content.main %}
    {{ content.render }}
  {% endfor %}
  </div>
{% endblock content %}
