{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "User" %}: {{ object.username }}{% endblock %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col-sm-12">

        <h2>{{ object.username }}</h2>
        {% if object.name %}
          <p>{{ object.name }}</p>
        {% endif %}
      </div>
    </div>

    {% if object == request.user %}
      <!-- Action buttons -->
      <div class="row mb-2">
        <div class="col-sm-12">
          <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">{% trans "My Info" %} </a> <br/>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-12">
          <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">{% trans "E-Mail" %}</a>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-12">
          <a class="btn btn-warning" href="{% url 'account_change_password' %}" role="button">{% trans "Change your password" %}</a>
        </div>
      </div>
       <div class="row mb-2">
        <div class="col-sm-12">
          <a class="btn btn-warning" href="{% url 'socialaccount_connections' %}" role="button">{% trans "Connect social accounts" %}</a>
        </div>
      </div>


      <!-- End Action buttons -->
    {% endif %}


  </div>
{% endblock content %}

