
{% load bootstrap3 i18n static %}

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div id="upload-messages">
      <div class="alert alert-info" role="alert">
        {% trans "Please select file below and then click 'Submit' " %}
      </div>
      </div>
    </div>
  </div>
</div>

<form id="resource-form" class="form-horizontal" method="post">
  {% bootstrap_form form %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 mt-1">
        <input name="file" type="file" id="id_file">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 mt-1">
      <button id="upload-button" class="btn btn-danger" data-toggle="tooltip" disabled>
        <i class="fa fa-cloud-upload" aria-hidden="true"></i> {% trans "Submit" %}
      </button>
        </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="col-xs-12">
      <div id="upload-progress" class="row progress">
        <div class="progress-bar bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
    </div>
  </div>

</form>

{#<script src="{% static "js/resources/resources.js" %}"></script>#}

<script>
    (function () {
        var manager = new FileResourceManager("{{ action }}", "{{ content_item.title|slugify }}");
    })();
</script>
