{% extends "resource/resource_form.html" %}

{% load i18n %}

{% block form-description%}
    <p>
        {% blocktrans %}
      Write your document in the editor below.
    {% endblocktrans %}
    <a href="{% url "resource:document-upload" pk=object.pk%}">Click here for distraction-free mode. </a>
    </p>
{% endblock %}

{% block form-scripts %}
    {% include "resource/partials/html_resource_scripts.html" %}
{% endblock %}
