{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <form method="POST" accept-charset="UTF-8">
    {% csrf_token %}
        <h1>
            <label for="id_markdown">
                {{ object.title }}
            </label>
        </h1>
        <textarea id="id_markdown" name="markdown"></textarea>
        <button class="btn btn-primary"><i class="fa fa-cloud-upload"></i>{% trans "Save and return to content item" %} </button>
    </form>
{% endblock content %}

{% block page_js %}
    {% include "resource/partials/html_resource_scripts.html" %}
{% endblock %}
