{% extends "base.html" %}
{% load static %}

{% block title %}Resource: {{ object.pk }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.pk }}</h2>
      {% if object.description %}
        <p>description: {{ object.description }}</p>
      {% endif %}

        <p>type: {{ object.resource_type }}</p>
        <p>license: {{ object.resource_license }}</p>
        <p>language: {{ object.language }}</p>
        {% if object.role %}
          <p>role: {{ object.role.name }}</p>
        {% endif %}
        <p>default: {{ object.default }}</p>
    </div>
  </div>

<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'resource:update' pk=object.pk %}" role="button">Modify</a>
  </div>

</div>
<!-- End Action buttons -->

</div>
{% endblock content %}

