{% extends "base.html" %}
{% load static i18n %}
{% block title %}Members{% endblock %}

{% block content %}

<div class="container">
  <h2>resource</h2>
  <div class="list-group">
    {% if resource_list %}
        {% for resource in resource_list %}
            <a href="{% url 'resource:detail' resource.id %}" class="list-group-item">
                <h4 class="list-group-item-heading">
                    {{ resource.description }}
                    {% if resource.default %}
                    <i class="fa fa-star" aria-hidden="true" title="{% trans "default" %}"></i>
                    {% endif %}
                </h4>
            </a>
        {% endfor %}
    {% else %}
        <p>No resource.</p>
    {% endif %}
  </div>
</div>
{% endblock content %}

