.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

h4.card-header {
  padding: 4px 12px;
  padding: 0.25rem 0.75rem;
  font-size: 16px;
  font-size: 1.0rem;
  font-weight: 700;
  border: none;
  background-color: #b2b2b2; }

.card {
  border: none;
  background-color: #ededed; }

.card-body {
  padding: 12px;
  padding: 0.75rem; }

.card-body p:last-child {
  margin-bottom: 0; }

.navbar {
  border-radius: 0px; }

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%; }
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0; }
  .nav.navbar-nav.pull-xs-right {
    float: none !important; } }

.navbar-custom {
  background-color: #ea5284; }

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255, 255, 255, 0.9); }

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9); }

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff; }

nav.medicine {
  background-color: #ea5284; }

nav.chemistry {
  background-color: #97BF0D; }

nav.engineering {
  background-color: #009DD1; }

nav.mathematics {
  background-color: #ccb100; }

nav.astronomy {
  background-color: #A5027D; }

nav.physics {
  background-color: #E7511E; }

nav.citizen-science {
  background-color: #9BBDBD; }

html {
  position: relative;
  min-height: 100%; }

body {
  padding-top: 72px;
  padding-top: 4.5rem;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 320px;
  margin-bottom: 20rem; }

[hidden][style="display: block;"] {
  display: block !important; }

img.ci-license {
  /*display: block;*/
  max-width: 150px;
  max-height: 20px;
  width: auto;
  height: auto; }

.cover-image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 160px;
  height: 10rem; }

.progress {
  width: 100%;
  background-color: #eee;
  border-radius: 0.25rem;
  margin-top: 8px;
  margin-top: 0.5rem; }

.progress-bar {
  display: inline-block;
  width: 8px;
  width: 0.5rem;
  height: 16px;
  height: 1rem;
  text-indent: -15984px;
  text-indent: -999rem;
  background-color: #0074d9;
  border-radius: 0.25rem; }

.content-item-authors {
  background: #ededed; }

.content-item-separator {
  border-color: #1d1d1b; }

.content-item-padded-row-top {
  padding-top: 15px; }

.content-item-padded-row-bottom {
  padding-bottom: 15px; }

.content-item-find-similar-row {
  padding-top: 15px;
  padding-bottom: 30px; }

.content-item-resource-list {
  padding-top: 15px;
  background: #ededed; }

.resource-tile {
  word-wrap: break-word;
  padding-top: 15px;
  padding-bottom: 15px; }

.resource-tile-svg-container {
  padding-bottom: -10px; }

.resource-tile-svg-container > svg {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.resource-tile-icon-typefield {
  fill: #b2b2b2;
  stroke-width: 0; }

.resource-tile-icon-fillcorner {
  fill: #1d1d1b;
  stroke-width: 0; }

.resource-tile-type-text {
  font-size: 14.5px;
  font-weight: 700;
  fill: white; }

.resource-tile-icons-row {
  color: #1d1d1b;
  font-size: 1.3em;
  letter-spacing: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .resource-tile-icons-row > div {
    display: inline-block; }

.resource-tile-action-icon {
  color: #1d1d1b;
  text-decoration: none; }

.resource-tile-title {
  text-transform: uppercase;
  font-size: 17px;
  fill: #1d1d1b;
  font-weight: 700; }

.resource-tile-comments {
  font-size: 12px;
  fill: #1d1d1b;
  font-weight: 300; }

.content-item-infoblock {
  background: #ededed; }

.content-item-titleseparator {
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 3px; }

div.medicine .content-item-title {
  color: #ea5284;
  font-size: 2em; }

div.medicine .content-item-rating {
  color: #ea5284;
  text-align: right;
  vertical-align: middle;
  line-height: 3em; }

div.medicine .content-item-rating-star-active {
  color: #ea5284; }

div.medicine .content-item-rating-star-inactive {
  color: #fdf1f5; }

div.medicine .content-item-language-link {
  text-transform: uppercase;
  color: #1d1d1b;
  text-decoration: none; }

div.medicine .content-item-language-link-active {
  text-transform: uppercase;
  color: #1d1d1b;
  border-bottom: 3px solid #ea5284;
  font-weight: 700; }

div.medicine .content-item-field {
  text-transform: uppercase;
  color: #ededed;
  background: #ea5284; }

div.medicine .resource-tile-icon-body {
  fill: white;
  stroke: #ea5284;
  stroke-width: 2; }

div.medicine .resource-tile-icon-decal {
  fill: #ea5284;
  stroke: #ea5284;
  stroke-width: 0; }

div.medicine .resource-tile-icon-corner {
  fill: #ea5284;
  stroke: #ea5284;
  stroke-width: 0; }

div.medicine .resource-tile-icon-line {
  stroke: #ea5284;
  stroke-width: 1; }

div.medicine .content-item-dot {
  font-size: 7px;
  vertical-align: middle;
  color: #ea5284; }

div.medicine .content-item-tagstitle {
  font-weight: bold;
  color: #bf174e; }

div.medicine a.search-link {
  color: #ea5284; }

div.medicine a.search-link:hover {
  color: #f5adc5; }

div.medicine a.search-link:visited {
  color: #e62e6a; }

div.medicine .search-content-item-tile-outline {
  fill: #ffffff;
  stroke: #ea5284;
  stroke-width: 3; }

div.medicine .search-content-item-tile-title {
  font-size: 14px;
  fill: #1d1d1b;
  color: #1d1d1b;
  font-weight: 400;
  text-align: center; }

div.medicine .fa-icon-in-svg {
  font-family: FontAwesome;
  color: #ea5284;
  fill: #ea5284;
  font-size: 150px; }

div.medicine hr.resource-separator {
  margin-top: 0;
  margin-bottom: 0;
  border: solid 1.5px #ea5284; }

div.medicine .btn.primary-color {
  color: #fff;
  background-color: #ea5284;
  border-color: #ea5284; }

i.fa-flask.medicine {
  color: #ea5284; }

.medicine-foreground {
  color: #ea5284; }

.discipline-select .btn.medicine {
  color: #000;
  background-color: #fff;
  border-color: #ea5284; }

.discipline-select .btn.medicine.selected {
  color: #fff;
  background-color: #ea5284;
  border-color: #ea5284; }

div.chemistry .content-item-title {
  color: #97BF0D;
  font-size: 2em; }

div.chemistry .content-item-rating {
  color: #97BF0D;
  text-align: right;
  vertical-align: middle;
  line-height: 3em; }

div.chemistry .content-item-rating-star-active {
  color: #97BF0D; }

div.chemistry .content-item-rating-star-inactive {
  color: #def788; }

div.chemistry .content-item-language-link {
  text-transform: uppercase;
  color: #1d1d1b;
  text-decoration: none; }

div.chemistry .content-item-language-link-active {
  text-transform: uppercase;
  color: #1d1d1b;
  border-bottom: 3px solid #97BF0D;
  font-weight: 700; }

div.chemistry .content-item-field {
  text-transform: uppercase;
  color: #ededed;
  background: #97BF0D; }

div.chemistry .resource-tile-icon-body {
  fill: white;
  stroke: #97BF0D;
  stroke-width: 2; }

div.chemistry .resource-tile-icon-decal {
  fill: #97BF0D;
  stroke: #97BF0D;
  stroke-width: 0; }

div.chemistry .resource-tile-icon-corner {
  fill: #97BF0D;
  stroke: #97BF0D;
  stroke-width: 0; }

div.chemistry .resource-tile-icon-line {
  stroke: #97BF0D;
  stroke-width: 1; }

div.chemistry .content-item-dot {
  font-size: 7px;
  vertical-align: middle;
  color: #97BF0D; }

div.chemistry .content-item-tagstitle {
  font-weight: bold;
  color: #4c6007; }

div.chemistry a.search-link {
  color: #97BF0D; }

div.chemistry a.search-link:hover {
  color: #caf240; }

div.chemistry a.search-link:visited {
  color: #79990a; }

div.chemistry .search-content-item-tile-outline {
  fill: #ffffff;
  stroke: #97BF0D;
  stroke-width: 3; }

div.chemistry .search-content-item-tile-title {
  font-size: 14px;
  fill: #1d1d1b;
  color: #1d1d1b;
  font-weight: 400;
  text-align: center; }

div.chemistry .fa-icon-in-svg {
  font-family: FontAwesome;
  color: #97BF0D;
  fill: #97BF0D;
  font-size: 150px; }

div.chemistry hr.resource-separator {
  margin-top: 0;
  margin-bottom: 0;
  border: solid 1.5px #97BF0D; }

div.chemistry .btn.primary-color {
  color: #fff;
  background-color: #97BF0D;
  border-color: #97BF0D; }

i.fa-flask.chemistry {
  color: #97BF0D; }

.chemistry-foreground {
  color: #97BF0D; }

.discipline-select .btn.chemistry {
  color: #000;
  background-color: #fff;
  border-color: #97BF0D; }

.discipline-select .btn.chemistry.selected {
  color: #fff;
  background-color: #97BF0D;
  border-color: #97BF0D; }

div.engineering .content-item-title {
  color: #009DD1;
  font-size: 2em; }

div.engineering .content-item-rating {
  color: #009DD1;
  text-align: right;
  vertical-align: middle;
  line-height: 3em; }

div.engineering .content-item-rating-star-active {
  color: #009DD1; }

div.engineering .content-item-rating-star-inactive {
  color: #85e1ff; }

div.engineering .content-item-language-link {
  text-transform: uppercase;
  color: #1d1d1b;
  text-decoration: none; }

div.engineering .content-item-language-link-active {
  text-transform: uppercase;
  color: #1d1d1b;
  border-bottom: 3px solid #009DD1;
  font-weight: 700; }

div.engineering .content-item-field {
  text-transform: uppercase;
  color: #ededed;
  background: #009DD1; }

div.engineering .resource-tile-icon-body {
  fill: white;
  stroke: #009DD1;
  stroke-width: 2; }

div.engineering .resource-tile-icon-decal {
  fill: #009DD1;
  stroke: #009DD1;
  stroke-width: 0; }

div.engineering .resource-tile-icon-corner {
  fill: #009DD1;
  stroke: #009DD1;
  stroke-width: 0; }

div.engineering .resource-tile-icon-line {
  stroke: #009DD1;
  stroke-width: 1; }

div.engineering .content-item-dot {
  font-size: 7px;
  vertical-align: middle;
  color: #009DD1; }

div.engineering .content-item-tagstitle {
  font-weight: bold;
  color: #00506b; }

div.engineering a.search-link {
  color: #009DD1; }

div.engineering a.search-link:hover {
  color: #38cdff; }

div.engineering a.search-link:visited {
  color: #007ea8; }

div.engineering .search-content-item-tile-outline {
  fill: #ffffff;
  stroke: #009DD1;
  stroke-width: 3; }

div.engineering .search-content-item-tile-title {
  font-size: 14px;
  fill: #1d1d1b;
  color: #1d1d1b;
  font-weight: 400;
  text-align: center; }

div.engineering .fa-icon-in-svg {
  font-family: FontAwesome;
  color: #009DD1;
  fill: #009DD1;
  font-size: 150px; }

div.engineering hr.resource-separator {
  margin-top: 0;
  margin-bottom: 0;
  border: solid 1.5px #009DD1; }

div.engineering .btn.primary-color {
  color: #fff;
  background-color: #009DD1;
  border-color: #009DD1; }

i.fa-flask.engineering {
  color: #009DD1; }

.engineering-foreground {
  color: #009DD1; }

.discipline-select .btn.engineering {
  color: #000;
  background-color: #fff;
  border-color: #009DD1; }

.discipline-select .btn.engineering.selected {
  color: #fff;
  background-color: #009DD1;
  border-color: #009DD1; }

div.mathematics .content-item-title {
  color: #ccb100;
  font-size: 2em; }

div.mathematics .content-item-rating {
  color: #ccb100;
  text-align: right;
  vertical-align: middle;
  line-height: 3em; }

div.mathematics .content-item-rating-star-active {
  color: #ccb100; }

div.mathematics .content-item-rating-star-inactive {
  color: #ffee80; }

div.mathematics .content-item-language-link {
  text-transform: uppercase;
  color: #1d1d1b;
  text-decoration: none; }

div.mathematics .content-item-language-link-active {
  text-transform: uppercase;
  color: #1d1d1b;
  border-bottom: 3px solid #ccb100;
  font-weight: 700; }

div.mathematics .content-item-field {
  text-transform: uppercase;
  color: #ededed;
  background: #ccb100; }

div.mathematics .resource-tile-icon-body {
  fill: white;
  stroke: #ccb100;
  stroke-width: 2; }

div.mathematics .resource-tile-icon-decal {
  fill: #ccb100;
  stroke: #ccb100;
  stroke-width: 0; }

div.mathematics .resource-tile-icon-corner {
  fill: #ccb100;
  stroke: #ccb100;
  stroke-width: 0; }

div.mathematics .resource-tile-icon-line {
  stroke: #ccb100;
  stroke-width: 1; }

div.mathematics .content-item-dot {
  font-size: 7px;
  vertical-align: middle;
  color: #ccb100; }

div.mathematics .content-item-tagstitle {
  font-weight: bold;
  color: #665800; }

div.mathematics a.search-link {
  color: #ccb100; }

div.mathematics a.search-link:hover {
  color: #ffe433; }

div.mathematics a.search-link:visited {
  color: #a38d00; }

div.mathematics .search-content-item-tile-outline {
  fill: #ffffff;
  stroke: #ccb100;
  stroke-width: 3; }

div.mathematics .search-content-item-tile-title {
  font-size: 14px;
  fill: #1d1d1b;
  color: #1d1d1b;
  font-weight: 400;
  text-align: center; }

div.mathematics .fa-icon-in-svg {
  font-family: FontAwesome;
  color: #ccb100;
  fill: #ccb100;
  font-size: 150px; }

div.mathematics hr.resource-separator {
  margin-top: 0;
  margin-bottom: 0;
  border: solid 1.5px #ccb100; }

div.mathematics .btn.primary-color {
  color: #fff;
  background-color: #ccb100;
  border-color: #ccb100; }

i.fa-flask.mathematics {
  color: #ccb100; }

.mathematics-foreground {
  color: #ccb100; }

.discipline-select .btn.mathematics {
  color: #000;
  background-color: #fff;
  border-color: #ccb100; }

.discipline-select .btn.mathematics.selected {
  color: #fff;
  background-color: #ccb100;
  border-color: #ccb100; }

div.astronomy .content-item-title {
  color: #A5027D;
  font-size: 2em; }

div.astronomy .content-item-rating {
  color: #A5027D;
  text-align: right;
  vertical-align: middle;
  line-height: 3em; }

div.astronomy .content-item-rating-star-active {
  color: #A5027D; }

div.astronomy .content-item-rating-star-inactive {
  color: #fd5cd6; }

div.astronomy .content-item-language-link {
  text-transform: uppercase;
  color: #1d1d1b;
  text-decoration: none; }

div.astronomy .content-item-language-link-active {
  text-transform: uppercase;
  color: #1d1d1b;
  border-bottom: 3px solid #A5027D;
  font-weight: 700; }

div.astronomy .content-item-field {
  text-transform: uppercase;
  color: #ededed;
  background: #A5027D; }

div.astronomy .resource-tile-icon-body {
  fill: white;
  stroke: #A5027D;
  stroke-width: 2; }

div.astronomy .resource-tile-icon-decal {
  fill: #A5027D;
  stroke: #A5027D;
  stroke-width: 0; }

div.astronomy .resource-tile-icon-corner {
  fill: #A5027D;
  stroke: #A5027D;
  stroke-width: 0; }

div.astronomy .resource-tile-icon-line {
  stroke: #A5027D;
  stroke-width: 1; }

div.astronomy .content-item-dot {
  font-size: 7px;
  vertical-align: middle;
  color: #A5027D; }

div.astronomy .content-item-tagstitle {
  font-weight: bold;
  color: #400131; }

div.astronomy a.search-link {
  color: #A5027D; }

div.astronomy a.search-link:hover {
  color: #fc11c2; }

div.astronomy a.search-link:visited {
  color: #7d025e; }

div.astronomy .search-content-item-tile-outline {
  fill: #ffffff;
  stroke: #A5027D;
  stroke-width: 3; }

div.astronomy .search-content-item-tile-title {
  font-size: 14px;
  fill: #1d1d1b;
  color: #1d1d1b;
  font-weight: 400;
  text-align: center; }

div.astronomy .fa-icon-in-svg {
  font-family: FontAwesome;
  color: #A5027D;
  fill: #A5027D;
  font-size: 150px; }

div.astronomy hr.resource-separator {
  margin-top: 0;
  margin-bottom: 0;
  border: solid 1.5px #A5027D; }

div.astronomy .btn.primary-color {
  color: #fff;
  background-color: #A5027D;
  border-color: #A5027D; }

i.fa-flask.astronomy {
  color: #A5027D; }

.astronomy-foreground {
  color: #A5027D; }

.discipline-select .btn.astronomy {
  color: #000;
  background-color: #fff;
  border-color: #A5027D; }

.discipline-select .btn.astronomy.selected {
  color: #fff;
  background-color: #A5027D;
  border-color: #A5027D; }

div.physics .content-item-title {
  color: #E7511E;
  font-size: 2em; }

div.physics .content-item-rating {
  color: #E7511E;
  text-align: right;
  vertical-align: middle;
  line-height: 3em; }

div.physics .content-item-rating-star-active {
  color: #E7511E; }

div.physics .content-item-rating-star-inactive {
  color: #f8cebf; }

div.physics .content-item-language-link {
  text-transform: uppercase;
  color: #1d1d1b;
  text-decoration: none; }

div.physics .content-item-language-link-active {
  text-transform: uppercase;
  color: #1d1d1b;
  border-bottom: 3px solid #E7511E;
  font-weight: 700; }

div.physics .content-item-field {
  text-transform: uppercase;
  color: #ededed;
  background: #E7511E; }

div.physics .resource-tile-icon-body {
  fill: white;
  stroke: #E7511E;
  stroke-width: 2; }

div.physics .resource-tile-icon-decal {
  fill: #E7511E;
  stroke: #E7511E;
  stroke-width: 0; }

div.physics .resource-tile-icon-corner {
  fill: #E7511E;
  stroke: #E7511E;
  stroke-width: 0; }

div.physics .resource-tile-icon-line {
  stroke: #E7511E;
  stroke-width: 1; }

div.physics .content-item-dot {
  font-size: 7px;
  vertical-align: middle;
  color: #E7511E; }

div.physics .content-item-tagstitle {
  font-weight: bold;
  color: #90300f; }

div.physics a.search-link {
  color: #E7511E; }

div.physics a.search-link:hover {
  color: #f1987a; }

div.physics a.search-link:visited {
  color: #c74215; }

div.physics .search-content-item-tile-outline {
  fill: #ffffff;
  stroke: #E7511E;
  stroke-width: 3; }

div.physics .search-content-item-tile-title {
  font-size: 14px;
  fill: #1d1d1b;
  color: #1d1d1b;
  font-weight: 400;
  text-align: center; }

div.physics .fa-icon-in-svg {
  font-family: FontAwesome;
  color: #E7511E;
  fill: #E7511E;
  font-size: 150px; }

div.physics hr.resource-separator {
  margin-top: 0;
  margin-bottom: 0;
  border: solid 1.5px #E7511E; }

div.physics .btn.primary-color {
  color: #fff;
  background-color: #E7511E;
  border-color: #E7511E; }

i.fa-flask.physics {
  color: #E7511E; }

.physics-foreground {
  color: #E7511E; }

.discipline-select .btn.physics {
  color: #000;
  background-color: #fff;
  border-color: #E7511E; }

.discipline-select .btn.physics.selected {
  color: #fff;
  background-color: #E7511E;
  border-color: #E7511E; }

div.citizen-science .content-item-title {
  color: #9BBDBD;
  font-size: 2em; }

div.citizen-science .content-item-rating {
  color: #9BBDBD;
  text-align: right;
  vertical-align: middle;
  line-height: 3em; }

div.citizen-science .content-item-rating-star-active {
  color: #9BBDBD; }

div.citizen-science .content-item-rating-star-inactive {
  color: white; }

div.citizen-science .content-item-language-link {
  text-transform: uppercase;
  color: #1d1d1b;
  text-decoration: none; }

div.citizen-science .content-item-language-link-active {
  text-transform: uppercase;
  color: #1d1d1b;
  border-bottom: 3px solid #9BBDBD;
  font-weight: 700; }

div.citizen-science .content-item-field {
  text-transform: uppercase;
  color: #ededed;
  background: #9BBDBD; }

div.citizen-science .resource-tile-icon-body {
  fill: white;
  stroke: #9BBDBD;
  stroke-width: 2; }

div.citizen-science .resource-tile-icon-decal {
  fill: #9BBDBD;
  stroke: #9BBDBD;
  stroke-width: 0; }

div.citizen-science .resource-tile-icon-corner {
  fill: #9BBDBD;
  stroke: #9BBDBD;
  stroke-width: 0; }

div.citizen-science .resource-tile-icon-line {
  stroke: #9BBDBD;
  stroke-width: 1; }

div.citizen-science .content-item-dot {
  font-size: 7px;
  vertical-align: middle;
  color: #9BBDBD; }

div.citizen-science .content-item-tagstitle {
  font-weight: bold;
  color: #609292; }

div.citizen-science a.search-link {
  color: #9BBDBD; }

div.citizen-science a.search-link:hover {
  color: #d8e6e6; }

div.citizen-science a.search-link:visited {
  color: #82adad; }

div.citizen-science .search-content-item-tile-outline {
  fill: #ffffff;
  stroke: #9BBDBD;
  stroke-width: 3; }

div.citizen-science .search-content-item-tile-title {
  font-size: 14px;
  fill: #1d1d1b;
  color: #1d1d1b;
  font-weight: 400;
  text-align: center; }

div.citizen-science .fa-icon-in-svg {
  font-family: FontAwesome;
  color: #9BBDBD;
  fill: #9BBDBD;
  font-size: 150px; }

div.citizen-science hr.resource-separator {
  margin-top: 0;
  margin-bottom: 0;
  border: solid 1.5px #9BBDBD; }

div.citizen-science .btn.primary-color {
  color: #fff;
  background-color: #9BBDBD;
  border-color: #9BBDBD; }

i.fa-flask.citizen-science {
  color: #9BBDBD; }

.citizen-science-foreground {
  color: #9BBDBD; }

.discipline-select .btn.citizen-science {
  color: #000;
  background-color: #fff;
  border-color: #9BBDBD; }

.discipline-select .btn.citizen-science.selected {
  color: #fff;
  background-color: #9BBDBD;
  border-color: #9BBDBD; }

.content-item-search-icon {
  font-size: 45px;
  text-align: right;
  margin-top: -17px; }

.invisible {
  visibility: hidden; }

.gone {
  display: none; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  margin-top: 30px;
  background-color: #ededed; }

.col-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-5ths {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%; }

@media (min-width: 576px) {
  .col-sm-5ths {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }

@media (min-width: 768px) {
  .col-md-5ths {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }

@media (min-width: 992px) {
  .col-lg-5ths {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }

@media (min-width: 1150px) {
  .col-xlg-5ths {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }

@media (max-width: 575px) {
  .navbar-toggleable-md > .container {
    margin-left: 0;
    margin-right: 0; } }

a.unlink {
  color: inherit; }

a.unlink:hover {
  color: inherit; }

a.unlink:focus {
  color: inherit; }

@media (min-width: 768px) {
  .discipline-select {
    display: table;
    padding-left: 0;
    width: 100%;
    table-layout: fixed; }
  .discipline-select li {
    display: table-cell;
    text-align: center; } }

.discipline-overlay {
  position: absolute;
  right: 15%;
  bottom: 50%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  background-color: rgba(1, 1, 1, 0.4); }

#discipline-description {
  padding: 0.5em;
  background-color: #ededed; }
  #discipline-description p {
    font-size: 1.1em;
    text-align: justify; }
    #discipline-description p.lead {
      font-weight: 600;
      font-size: 1.4em; }

.domain-desc p {
  margin-left: 2em;
  margin-bottom: 0; }

.domain-desc a {
  margin-left: 2em; }

.ci-unverified {
  color: #FF0202; }
  .ci-unverified i {
    color: #5bc0de; }

.ci-verified {
  color: #008000; }
  .ci-verified i {
    color: #5bc0de; }

.feincms div.image {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  background-color: #ededed; }
  .feincms div.image .caption {
    padding: .5em;
    display: block;
    text-align: center; }
  .feincms div.image img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
