{% load i18n %}

<div class="container">
    <div class="row">
        {% for result in object_list %}
            {% comment %}
             This if is required. If index contains deleted ContentItems
             result.object will be null, which will raise and exception.
          {% endcomment %}
            {% if result.object %}
                {% include "content_item/fragments/content_item_search_snippet.html" with content_item=result.object %}
            {% else %}
                {% trans "Deleted content item" %}
            {% endif %}
        {% empty %}
            {% trans "No results" %}
        {% endfor %}
    </div>
</div>
