{% load i18n %}
{% if page_block %}
  <a tabindex="0" href="javascript://" data-html="true" data-toggle="popover" data-trigger="focus" title="{{ page_block.title }}" data-content="{{ page_block.contents_html }}">
    <i class="fa fa-question-circle" aria-hidden="true"></i>
  </a>
{% endif %}
