<div class="row">
  {% if desc %}
    <div class="col-md-12 domain-desc">{{ desc.description_md|safe }}
      {% if can_edit %}
        <a class="rri-edit-desc-link"
         href="{% url "content_item:domain_description_edit" pk=desc.pk %}">
          <i class="fa fa-pencil-square-o" aria-hidden="true" rel="tooltip" title="Edit description"></i>
        </a>
      {% endif %}
    </div>
  {% else %}
    {% if can_edit %}
      <div class="col-md-12 domain-desc">
        <a class="rri-add-desc-link"
           href="{% url "content_item:domain_description_add" domain=domain.pk content_item=object.pk %}">
            <i class="fa fa-plus-square" aria-hidden="true" rel="tooltip" title="Add description"></i>
        </a>
      </div>
    {% endif %}
  {% endif %}
</div>
