{% load static %}

<div class="col-xlg-5ths col-lg-3 col-md-4 col-sm-6 col-xs-12 resource-tile {{ content_item.main_discipline.slug }}">
  <div class="col-md-12">
    <a class="search-result" href="{% url "content_item:detail" pk=content_item.pk %}">
      <svg width="190" height="190" viewBox="0 0 200 200"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns="http://www.w3.org/2000/svg"
           version="1.2" baseProfile="tiny"
           role="img"
           aria-label="{% block label %}{% endblock %}"
      >

        <rect height="197" width="197" x="1.5" y="1.5" class="search-content-item-tile-outline"/>

        {% block graphics %}
          <!-- additional graphic shapes go here -->
        {% endblock %}

        {% if content_item.miniature_image_resized %}
          <g transform="translate(23, 13)">
            <image height="130" width="154" preserveAspectRatio="none" xlink:href="{{ content_item.miniature_image_resized.url }}" />
          </g>
        {% elif content_item.miniature_image %}
          <g transform="translate(23, 13)">
            <image height="130" width="154" preserveAspectRatio="none" xlink:href="{{ content_item.miniature_image.url }}" />
          </g>
        {% elif content_item.cover_image %}
          <g transform="translate(23, 13)">
            <image height="130" width="154" preserveAspectRatio="none" xlink:href="{{ content_item.cover_image.url }}" />
          </g>
        {% else %}
          <!-- Place font awesome picture icon on svg, refer to icon by unicode codepoint -->
          <g>
            <text x="20" y="130" class="fa-icon-in-svg">
              &#xf03e;
            </text>
          </g>
        {% endif %}

        <foreignObject width="180" height="45" x="10" y="145">
          <body xmlns="http://www.w3.org/1999/xhtml">
            <p class="search-content-item-tile-title" data-toggle="tooltip" title="{{ content_item.title }}">
              {{ content_item.title|truncatechars:40 }}
            </p>
          </body>
        </foreignObject>
      </svg>
    </a>
  </div>
</div>
