{% extends "base.html" %}

{% load i18n bootstrap3 %}

{% block page-css %}
  <style>
    .control-label {
      font-weight: bold;
    }
  </style>
{% endblock %}

{% block content %}
  <p>
    {% blocktrans %}

    {% endblocktrans %}
  </p>
  <h3>{% trans "Search parameters" %}</h3>
  <form id="search_form" method="POST">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        {% for field in form %}
          {% if field.name == 'q' %}
            <div class="col-12">
              {% bootstrap_field field %}
            </div>
          {% elif field.name == 'license' or field.name == 'language' or field.name == 'rri'  %}
            <div class="col-md-6 col-xs-12">
              {% bootstrap_field field %}
            </div>
          {% else %}
            <div class="col-xl-3 col-lg-4 col-sm-6">
              {% bootstrap_field field %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="row">
        <button class="btn-primary btn">{% trans "Search" %}</button>
      </div>
    </div>



    <h3 class="mt-4 mb-4">{% trans "Search Results" %}</h3>


    {% include "content_item/fragments/content_item_search_result.html" %}

    <div>
      <button
        class="btn btn-primary"
        {% if page_obj.has_previous %}name="page" value="{{ page_obj.previous_page_number }}"
        {% else %}disabled{% endif %}
      >
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> {% trans "Previous results" %}
      </button>
      <button
        class="btn btn-primary float-md-right"
        {% if page_obj.has_next %}name="page" value="{{ page_obj.next_page_number }}"
        {% else %}disabled{% endif %}
      >
        {% trans "Next results" %} <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
      </button>
    </div>
  </form>
{% endblock %}

{% block page_js %}
  <script type="application/javascript">
    var form = new FormWithTags("#search-submit",
      [{"selector": "#id_tags"}]
    );
    $('#id_domain').change(function(){
      $('#search_form').submit();
    });
    $('#id_language').change(function(){
      $('#search_form').submit();
    });
  </script>

{% endblock %}
