
{% load crispy_forms_tags static i18n %}

<div id="form-messages">
  {# Now empty, will be populated by JS if any messages need to be presented to the user #}
</div>

{% block form-description %}<p>
{% trans "Do you really wish to delete this content item? You won't be able to revert this action (however site admin will be!)" %}
</p>{% endblock %}

<form
  id="resource-form" class="form-horizontal" method="post" action="{{ action }}"
>
  {% csrf_token %}
</form>
