{% extends "base.html" %}

{% load bootstrap3 i18n static page_block %}

{% block title %}{{ object.title }}{% endblock title %}

{% block page_js %}
  <script>
      window.content_item_id = "{{ object.pk }}";
      window.content_item_resources_url = "{% url 'content_item:contentresources' object.pk %}";
      {% if DISCOURSE_ROOT_URL and ENABLE_DISCOURSE_FORUM_TRIGGERS %}
          window.DiscourseEmbed = {
              discourseUrl: '{{ DISCOURSE_ROOT_URL }}',
              discourseEmbedUrl: '{{ request.build_absolute_uri }}'
          };
      {% endif %}
  </script>
  {% if DISCOURSE_ROOT_URL and ENABLE_DISCOURSE_FORUM_TRIGGERS %}
    <script src="{{ DISCOURSE_ROOT_URL }}javascripts/embed.js"></script>
  {% endif %}
  <script src="{% static "content-item/content_item.js" %}"></script>
{% endblock %}

{% block page-css %}

{% endblock page-css %}

{% block content %}
  <div class="container-fluid">
    {% if object.cover_image_resized %}
      <div class="row">
        <div class="col">
          <img src="{{ object.cover_image_resized.url }}" class="cover-image">
        </div>
      </div>
    {% elif object.cover_image %}
      <div class="row">
        <div class="col">
          <img src="{{ object.cover_image.url }}" class="cover-image">
        </div>
      </div>
    {% endif %}
  </div>

  <div class="container {{ object.main_discipline.slug }}">
    <div class="row">
      <!-- no idea where I should put this one small>{{ object.type }}</small -->
      <div class="col-xs-12 col-sm-8 col-lg-10 content-item-title">
          <span class="discourse-embed">
            {{ object.title }}
          </span>
        <a href="{{ license.url }}">
          <img class="ci-license" src="{% static license.icon %}" alt="{{ license.label }}">
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-2 content-item-rating">
        {% if object.verified %}
          <span class="ci-verified" data-toggle="tooltip" data-placement="left"
                title="{% trans "This content was verified by the consortium." %}">
            {% trans "Verified" %} <i class="fa fa-question-circle-o"></i> </span>
        {% else %}
          <span class="ci-unverified"  data-toggle="tooltip" data-placement="left"
          title="{% trans "This content has not been yet verified by project consortium, please check it with extra care." %}">{% trans "Unverified" %} <i class="fa fa-question-circle-o"></i></span>
        {% endif %}
        {% if perms.content_item.can_verify %}
          <button
            id="update-verified"
            href="{% url "content_item:verify" pk=object.pk %}"
            class="btn btn-primary btn-sm">{% trans "Update" %}</button>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-lg-10 content-item-authors">
        <strong>{% trans "Authors" %}:</strong> {% for author in object.authors %}
        {{ author }}{% if not forloop.last %},{% endif %} {{ endif }}{% endfor %}
      </div>
      <div class="col-sm-4 col-lg-2 content-item-field text-center">
        {% trans object.main_discipline.name %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">{% trans "This content is provided in languages" %}:</div>
      {% for c in object.group.contentitem_set.all %}
        <div class="ml-3">
          <a href="{% url "content_item:detail" pk=c.pk %}"
             class="{% if c.language == object.language %}
                      content-item-language-link-active
                    {% else %}
                      content-item-language-link
                    {% endif %}">
            {{ c.language_name }}
          </a>
        </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col">
        <hr class="content-item-titleseparator"/>
      </div>
    </div>

    <div class="row">
      <div class="invisible col-md-8"> [this block with combo boxes and tags placeholder]</div>

    </div>

    <div class="row content-item-padded-row-top">
      <div class="col-xs-12 col-lg-8">
        <div class="content-item-description discourse-embed">
          {{ object.description_html|safe }}
        </div>
        {% if object.technical_requirements %}
           <div class="content-item-padded-row-top">
             <div class="content-item-tagstitle">{% trans "Technical requirements" %}</div>
             &emsp; {{ object.technical_requirements }} <br>
           </div>
        {% endif %}

        {% if object.knowledge_gain %}
          <div class="content-item-padded-row-top content-item-padded-row-bottom">
            <div class="content-item-tagstitle">{% trans "Knowledge acquisition gain" %}</div>
            &emsp; {{ object.knowledge_gain }} <br>
          </div>
        {% endif %}
        {% if not object.workforce_description %}
          {% page_block workforce_block language=object.language %}
        {% else %}
          <div class="card mb-3">
          <h4 class="card-header">
            {% if object.workforce_title %}{{ object.workforce_title }}
            {% else %}{% trans "Workforce description" %}{% endif %}</h4>
          <div class="card-body">
            {{ object.workforce_description_html|safe }}
          </div>
      </div>
        {% endif %}

        <div id="rri-methodologies" role="tablist" aria-multiselectable="true">

          {% if rri %}
            <div class="card">
              <div class="card-header" role="tab" id="rri">
                <div class="content-item-tagstitle">
                  <a id= "rri-link" class="collapsed" data-toggle="collapse" data-parent="#rri-methodologies" href="#rri-desc" aria-expanded="false" aria-controls="rri-desc">
                    Responsible Research and Innovation
                  </a>
                </div>
              </div>

              <div id="rri-desc" class="collapse" role="tabcard" aria-labelledby="rri">
                <div class="card-body container">
                  {% for domain, desc in rri.items %}
                    <div class="row">
                      <div class="col">
                        &emsp;<a class="search-link" href="{% url "content_item:search" domain=domain.slug %}">{% trans domain.name %}</a>
                      </div>
                    </div>
                    {% include "content_item/fragments/content_item_domain_descriptions.html" with object=object domain=domain desc=desc %}
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}

          {% if methodologies %}
            <div class="card">
              <div class="card-header" role="tab" id="methodologies">
                <div class="content-item-tagstitle">
                  <a class="collapsed" data-toggle="collapse" data-parent="#rri-methodologies" href="#methodologies-desc" aria-expanded="false" aria-controls="methodologies-desc">
                    Learning Methodologies
                  </a>
                </div>
              </div>
              <div id="methodologies-desc" class="collapse" role="tabcard" aria-labelledby="methodologies">
                <div class="card-body">
                  {% for domain, desc in methodologies.items %}
                    <div class="row">
                      <div class="col">
                        <a class="search-link" href="{% url "content_item:search" domain=domain.slug %}">{% trans domain.name %}</a>
                        {% page_block domain.slug language=object.language template="content_item/fragments/content_item_domain_popover.html" %}
                      </div>
                    </div>
                    {% include "content_item/fragments/content_item_domain_descriptions.html" with object=object domain=domain desc=desc %}
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}

        </div>
      </div>

      <div class="col-xs-12 col-lg-4 content-item-infoblock">
        <div class="col-md-12">
          {% if object.min_group_size is not None or object.max_group_size is not None %}
            <div class="content-item-tagstitle">{% trans "Group" %}</div>
            &emsp;
            {% if object.min_group_size is not None and object.max_group_size is None %}
              >{{ object.min_group_size }}
            {% endif %}
            {% if object.max_group_size is not None and object.min_group_size is None %}
              <{{ object.max_group_size }}
            {% endif %}
            {% if object.max_group_size is not None and object.min_group_size is not None %}
              {{ object.min_group_size }}-{{ object.max_group_size }}
            {% endif %}
            <br>
          {% endif %}

          {% if object.activity_length %}
            <div class="content-item-tagstitle">{% trans "Duration" %}</div>
            &emsp; {{ object.activity_length }} min <br>
          {% endif %}

          {% if object.staff %}
            <div class="content-item-tagstitle">{% trans "Number of staff" %}</div>
            &emsp; {{ object.staff }} <br>
          {% endif %}

          {% if domains_sans_rri_and_methodologies %}
            {% regroup domains_sans_rri_and_methodologies by type as domains_list %}
            {% for type in domains_list %}
              <div class="content-item-tagstitle">{% trans type.grouper.name %}</div>
              {% for domain in type.list %}
                &emsp;<a class="search-link" href="{% url "content_item:search" domain=domain.slug %}">{% trans domain.name %}</a>
                {% page_block domain.slug language=object.language template="content_item/fragments/content_item_domain_popover.html" %}
                <br>
              {% endfor %}
            {% endfor %}
          {% endif %}

        </div>

        {% if object.tags.all %}
          <div class="col-md-12">
            <hr class="content-item-separator"/>
          </div>
          <div class="col-md-12 content-item-tagstitle">
            {% trans "You might also like" %}
          </div>
          <div class="col-md-12">
            {% for tag in object.tags.all %}
              <a class="search-link" href="{% url "content_item:search"  %}?tags={{ tag }}"> {{ tag }}</a>
              {% if not forloop.last %} <i class="fa fa-circle content-item-dot" aria-hidden="true"></i>
              {% endif %}
            {% endfor %}
          </div>

      {% endif %}

      <a href="{% url "content_item:search" domain=object.main_discipline.slug %}"
            class="btn btn-primary primary-color btn-block mb-3 mt-3">
          {% trans "FIND SIMILAR" %}
        </a>


      {% if evaluation_link %}
        <a href="{{ evaluation_link }}"
        class="btn btn-primary btn-block mb-3">
          {% trans "Evaluate us!" %}
        </a>
      {% endif %}
      </div>
    </div>


  <div class="container content-item-padded-row-top {{ object.main_discipline.slug }}" id="_appendHere">
    {% include "content_item/resource_list.html" %}
  </div>

  {% if can_edit %}
    <div class="container">
      <div class="row">
        <a class="btn btn-primary" href="{% url "content_item:edit" pk=object.pk %}">
          {% trans "Edit" %}
        </a>
        <a class="btn" href="{% url "content_item:add-lang" group_id=object.group.pk %}">
          {% trans "Add another lang version" %}
        </a>
        <a id="content-item-delete" class="btn btn-warning" href="{% url "content_item:delete" pk=object.pk %}">
          {% trans "Delete" %}
        </a>
        <div id="add-resource" class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            {% trans "Add a resource" %}
          </button>
          <div class="dropdown-menu">
            {% for type, resource_type in resource_types.items %}
              <a class="dropdown-item"
                 data-type="{{ type }}"
                 href="{% url resource_type.url content_item_id=object.pk %}"
              >
                {{ resource_type.label }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if DISCOURSE_ROOT_URL %}
    {#  Scripts added to page-scripts block #}

    <div class="container content-item-padded-row-top">
      <div id='discourse-comments'>

      </div>
    </div>
  {% endif %}


{% endblock %}

{% block modal %}
  {% trans "Upload a resource" as modal_title %}
  {% include "fragments/generic-modal.html" with modal_title=modal_title %}
{% endblock %}
