{% extends "base.html" %}

{% load static %}

{# We use bootstrap4 but bootstrap3 library works well enough #}
{% load bootstrap3 i18n static %}

{% block page_js %}
  <script src="{% static "js/project.js"%}"></script>
  <script src="{% static "js/resources/thirdparty/simplemde.min.js" %}"></script>
  <script>
    $(function () {
      var is_editing = {% if is_editing %}true{% else %}false{% endif %};
      var form = new FormWithTags(
        "#submit",
        [
          {"selector": "#id_authors"},
          {
            "selector": "#id_tags",
            "required": true,
            "missingTagMessage": "{% trans "Please add authors" %}",
            // "suggestionUrl": "{{ tag_suggestion_url }}"
          }
        ]
      );
    });

  </script>
  <script>
    $(function () {
      var simplemde = new SimpleMDE({ element: document.getElementById("id_workforce_description") });
    });
  </script>
{% endblock %}

{% block page-css %}
  <style>
    #id_domains {
      height: 35em;
    }
    .control-label{
      font-weight: bold;
    }
  </style>

  <link rel="stylesheet" href="{% static "css/resources/thirdparty/simplemde.min.css" %}">
{% endblock page-css %}

{% block content %}
  <h1>{% trans "Create content item" %}</h1>
  <form
    method="POST"
    enctype="multipart/form-data"
    action="{% if object.pk %}
                    {% url "content_item:edit" pk=object.pk %}
                  {% elif group_id %}
                    {% url "content_item:add-lang" group_id=group_id %}
                  {% else %}
                    {% url "content_item:add" %}
                  {% endif %}"
  >
    {% csrf_token %}
    <div class="container">
      {% if not is_editing %}
        <h2>{% trans "Type info" %}</h2>
        <div class="row">
          <div class="col-md-12">
            {% bootstrap_field form.type layout="horizontal"%}
          </div>
        </div>
      {% endif %}
      <h2>{% trans "Basic info" %}</h2>
      <div class="row">
        <div class="col-md-12">
          {% bootstrap_field form.title layout="horizontal"%}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% bootstrap_field form.authors layout="horizontal"%}
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          {% bootstrap_field form.featured layout="horizontal"%}
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          {% bootstrap_field form.license layout="horizontal"%}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% bootstrap_field form.language layout="horizontal"%}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% bootstrap_field form.main_discipline layout="horizontal"%}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% bootstrap_field form.tags layout="horizontal"%}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% bootstrap_field form.cover_image layout="horizontal"%}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% bootstrap_field form.miniature_image layout="horizontal"%}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% bootstrap_field form.description layout="horizontal"%}
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          {% bootstrap_field form.min_group_size layout="horizontal" field_class="col-md-3" %}
        </div>
        <div class="col-md-12">
          {% bootstrap_field form.max_group_size layout="horizontal" field_class="col-md-3" %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% bootstrap_field form.activity_length layout="horizontal" field_class="col-md-3" %}
        </div>
        <div class="col-md-12">
          {% bootstrap_field form.staff layout="horizontal" field_class="col-md-3" %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% bootstrap_field form.technical_requirements layout="horizontal"%}
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          {% bootstrap_field form.knowledge_gain layout="horizontal"%}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% bootstrap_field form.workforce_description layout="horizontal"%}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% bootstrap_field form.workforce_title layout="horizontal"%}
        </div>
      </div>

    {% for domain_field in form.domain_fields %}
      <div class="row">
        <div class="col-md-12">
          {% bootstrap_field domain_field layout="horizontal"%}
        </div>
      </div>
    {% endfor %}

    </div>

    <button id="submit" class="btn btn-primary">{% trans "Save" %}</button>
  </form>

{% endblock  %}

