{% extends "base.html" %}

{% load static %}

{# We use bootstrap4 but bootstrap3 library works well enough #}
{% load bootstrap3 i18n static %}

{% block page_js %}
  <script src="{% static "js/project.js"%}"></script>
{% endblock %}

{% block content %}
  <h1>{% trans "Edit description" %}</h1>
  <form method="POST">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% bootstrap_field form.description layout="horizontal"%}
        </div>
      </div>
    </div>

    <button id="submit" class="btn btn-primary">{% trans "Save" %}</button>
  </form>

{% endblock  %}

