{% load i18n %}
{% if resources %}
  <div class="row content-item-resource-list" id="resourceList">
    {% for resource_manager in resources %}
      {% if resource_manager.should_display %}
        {% with resource_manager.resource as resource_obj  %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 resource-tile">
          {% include resource_manager.template_name %}
        </div>
        {% endwith %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
