{% extends "base.html" %}

{% load i18n bootstrap3 %}

{% block content %}

  <form id="search_form" method="POST">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col-md-1 col-sm-2 hidden-xs-down content-item-search-icon">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <div class="col-md-11 col-sm-10 col-xs-12 mb-2">
          <input class="form-control" id="id_q" name="q" placeholder="{% trans "Search" %}" title="" type="search" value="{{ form.q.value|default_if_none:"" }}">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
          <select id="id_domain" name="domain" class="form-control" aria-label="Discipline filter">
            <option {% if not form.domain.value %}selected{% endif %} value="">{% trans "All disciplines" %}</option>
            {% for discipline in disciplines %}
              <option {% if form.domain.value == discipline.pk %} selected {% endif %} value="{{ discipline.pk }}">{% trans discipline.name %}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-12 mb-2">

          <select id="id_language" name="language" class="form-control" aria-label="Select language">
            <option {% if not form.cleaned_data.language %}selected{% endif %} value="all">{% trans "All languages" %}</option>
            {% for code, lang in LANGUAGES %}
              <option
                {% if code not in available_languages %}disabled{% endif %}
                {% if form.cleaned_data.language == code %}selected{% endif %}
                value="{{ code }}"
              >
                {% trans lang as transed_lang%} {{ transed_lang|capfirst }}
              </option>
            {% endfor %}
          </select>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-12 mb-2">

          <select id="id_methodology" name="methodology" class="form-control" aria-label="Select learning methodology">
            <option {% if not form.domain.value %}selected{% endif %} value="">{% trans "All methodologies" %}</option>
            {% for domain in methodologies %}
              <option {% if form.methodology.value == domain.pk %} selected {% endif %} value="{{ domain.pk }}">{% trans domain.name %}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-lg-3 col-md-12">
          <button id="search-submit" class="btn btn-primary btn-block">{% trans "Submit" %}</button>
          <small style="width: 100%; display: block; text-align: center">
            <a style="margin-top: .1em;" href="{% url "content_item:search-advanced" %}">(advanced search)</a>
          </small>
        </div>
      </div>

      <!-- Get rid of these fields for now, do not delete them (it will break tests), w will need them later -->
      <div class="row gone">
        <div class="col-md-6">
          {% bootstrap_field form.tags layout="horizontal" bound_css_class=""%}
        </div>
        <div class="col-md-6">
          {% bootstrap_field form.license layout="horizontal" bound_css_class=""%}
        </div>
      </div>

    </div>

    {% include "content_item/fragments/content_item_search_result.html" %}

    <div>
      <button
        class="btn btn-primary"
        {% if page_obj.has_previous %}name="page" value="{{ page_obj.previous_page_number }}"
        {% else %}disabled{% endif %}
      >
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> {% trans "Previous results" %}
      </button>
      <button
        class="btn btn-primary float-md-right"
        {% if page_obj.has_next %}name="page" value="{{ page_obj.next_page_number }}"
        {% else %}disabled{% endif %}
      >
        {% trans "Next results" %} <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
      </button>
    </div>
  </form>
{% endblock %}

{% block page_js %}
  <script type="application/javascript">
    var form = new FormWithTags("#search-submit",
      [{"selector": "#id_tags"}]
    );
    $('#id_domain').change(function(){
      $('#search_form').submit();
    });
    $('#id_language').change(function(){
      $('#search_form').submit();
    });
  </script>

{% endblock %}
