{% load static %}
<link rel="stylesheet" href="{% static "css/resources/thirdparty/simplemde.min.css" %}">
<script src="{% static "js/resources/thirdparty/simplemde.min.js" %}"></script>
<script src="{% static "js/resources/document_resource.js" %}"></script>
<script>
    $(function () {
        window.simplemde = new SimpleMDEManager("resource.{{ object.pk }}", "{{ object.defaulted_markdown|escapejs }}");
    })
</script>
