
// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;


// Colors from guide just do not look the same as colors picked from reference PDF file
//$color-stem-medicine: #E3006A;
$color-stem-medicine: #ea5284;
$color-stem-chemistry: #97BF0D;
$color-stem-engineering: #009DD1;
$color-stem-mathematics: #FFDD00;
$color-stem-astronomy: #A5027D;
$color-stem-physics: #E7511E;
$color-stem-citizen-science: #9BBDBD;
$color-stem-bg: #ededed;
$color-stem-bg-dark: #b2b2b2;
$color-stem-icons: #1d1d1b;

$color-content-item-primary: $color-stem-physics;

$stem_colors: (
  "medicine": #ea5284,
  "chemistry": #97BF0D,
  "engineering": #009DD1,
  "mathematics": darken(#FFDD00, 10%),
  "astronomy": #A5027D,
  "physics": #E7511E,
  "citizen-science": #9BBDBD
);

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

////////////////////////////////
		//Navbar//
////////////////////////////////


h4.card-header{
  padding: 0.25rem 0.75rem;
  font-size: 1.0rem;
  font-weight: 700;
  border: none;
  background-color: $color-stem-bg-dark;
};

.card {
  border: none;
  background-color: $color-stem-bg;
}

.card-body {
  padding: 0.75rem;
}

.card-body p:last-child{
  margin-bottom: 0;
}

// This is a fix for the bootstrap4 alpha release

.navbar {
  border-radius: 0px;
}

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }

  .nav.navbar-nav.pull-xs-right {
    float: none !important;
  }
}

// Navbar colors
.navbar-custom
{
  // default navbar color goes here
  background-color: #ea5284;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.9);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

// navbar colors based on field
@each $key, $color in $stem_colors
{
  nav.#{$key}
  {
    background-color: $color;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 4.5rem;

  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20rem;
}

////////////////////////////////
		//Django Toolbar//
////////////////////////////////

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317

[hidden][style="display: block;"] {
  display: block !important;
}


//////////////////////////////
    //ContentItem//
/////////////////////////////

img.ci-license {
  /*display: block;*/
  max-width:150px;
  max-height:20px;
  width: auto;
  height: auto;
}

.cover-image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10rem;
}


/////
// This is copied from bootstrap, somehow it didn't work from bootstrap CSS.
// Remove this when we update to newer bootstrap.
//
// After update to BS4 progress bar stopped working altogether,
// we need to keep this bit of css for now
/////

.progress {
  width: 100%;

  background-color: #eee;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}

.progress-bar {
  display: inline-block;
  width: 0.5rem;
  height: 1rem;
  text-indent: -999rem;
  background-color: #0074d9;
  border-radius: 0.25rem;
}

.content-item-authors
{
  background: $color-stem-bg;
}

.content-item-separator
{
  border-color: $color-stem-icons;
}

.content-item-padded-row-top
{
  padding-top: 15px;
}

.content-item-padded-row-bottom
{
  padding-bottom: 15px;
}

.content-item-find-similar-row
{
  padding-top: 15px;
  padding-bottom: 30px;
}

.content-item-resource-list
{
  padding-top: 15px;
  background: $color-stem-bg;
}

.resource-tile
{
  word-wrap: break-word;
  padding-top: 15px;
  padding-bottom: 15px;
}

.resource-tile-svg-container
{
  padding-bottom: -10px;
}

.resource-tile-svg-container > svg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.resource-tile-icon-typefield
{
  fill: $color-stem-bg-dark;
  stroke-width: 0
}

.resource-tile-icon-fillcorner
{
  fill: $color-stem-icons;
  stroke-width: 0
}

.resource-tile-type-text
{
  font-size: 14.5px;
  font-weight: 700;
  fill: white;
}

.resource-tile-icons-row
{
  color: $color-stem-icons;
  font-size: 1.3em;
  letter-spacing: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  > div {
    display: inline-block;
  }
}

.resource-tile-action-icon
{
  color: $color-stem-icons;
  text-decoration: none;
}

.resource-tile-title
{
  text-transform: uppercase;
  font-size: 17px;
  fill: $color-stem-icons;
  font-weight: 700;
}

.resource-tile-comments
{
  font-size: 12px;
  fill: $color-stem-icons;
  font-weight: 300;
}

.content-item-infoblock
{
  background: $color-stem-bg;
}

.content-item-titleseparator
{
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 3px;
}


@each $key, $color in $stem_colors
{
  div.#{$key} .content-item-title
  {
    color: $color;
    font-size: 2em;
  }

  div.#{$key} .content-item-rating
  {
    color: $color;
    text-align: right;
    vertical-align: middle;
    line-height: 3em;
  }

  div.#{$key} .content-item-rating-star-active
  {
    color: $color;
  }

  div.#{$key} .content-item-rating-star-inactive
  {
    color: lighten($color, 35%);
  }

  div.#{$key} .content-item-language-link
  {
    text-transform: uppercase;
    color: $color-stem-icons;
    text-decoration: none;
  }

  div.#{$key} .content-item-language-link-active
  {
    text-transform: uppercase;
    color: $color-stem-icons;
    border-bottom: 3px solid $color;
    font-weight: 700;
  }


  div.#{$key} .content-item-field
  {
    text-transform: uppercase;
    color: $color-stem-bg;
    background: $color;
  }

  div.#{$key} .resource-tile-icon-body
  {
    fill: white;
    stroke: $color;
    stroke-width: 2;
  }

  div.#{$key} .resource-tile-icon-decal
  {
    fill: $color;
    stroke: $color;
    stroke-width: 0;
  }

  div.#{$key} .resource-tile-icon-corner
  {
    fill: $color;
    stroke: $color;
    stroke-width: 0;
  }

  div.#{$key} .resource-tile-icon-line
  {
    stroke: $color;
    stroke-width: 1;
  }

  div.#{$key} .content-item-dot {
    font-size: 7px;
    vertical-align: middle;
    color: $color;
  }

  div.#{$key} .content-item-tagstitle
  {
    font-weight: bold;
    color: darken($color, 20%);
  }

  div.#{$key} a.search-link{
    color: $color
  }

  div.#{$key} a.search-link:hover{
    color: lighten($color, 20%)
  }

  div.#{$key} a.search-link:visited{
    color: darken($color, 8%)
  }

  div.#{$key} .search-content-item-tile-outline
  {
    fill: #ffffff;
    stroke: $color;
    stroke-width: 3;
  }

  div.#{$key} .search-content-item-tile-title
  {
    font-size: 14px;
    fill: $color-stem-icons;
    color: $color-stem-icons;
    font-weight: 400;
    text-align: center;
  }

  div.#{$key} .fa-icon-in-svg
  {
    font-family: FontAwesome;
    color: $color;
    fill: $color;
    font-size: 150px;
  }

  div.#{$key} hr.resource-separator {
    margin-top: 0;
    margin-bottom: 0;
    border: solid 1.5px $color;
  };

  div.#{$key} .btn.primary-color
  {
    color: $white;
    background-color: $color;
    border-color: $color;
  }

  i.fa-flask.#{$key} {
    color: $color;
  }

  .#{$key}-foreground {
    color: $color;
  }

  .discipline-select  .btn.#{$key}{
      color: #000;
      background-color: #fff;
      border-color: $color;
  }


  .discipline-select  .btn.#{$key}.selected{
      color: #fff;
      background-color: $color;
      border-color: $color;
  }

}

.content-item-search-icon
{
  font-size: 45px;
  text-align: right;
  margin-top: -17px;
}

.invisible
{
  visibility: hidden;
}

.gone
{
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  margin-top: 30px;
  background-color: $color-stem-bg;
}

//
// 5 column layout elements for bootstrap 4 as described here:
// http://stackoverflow.com/questions/10387740/five-equal-columns-in-twitter-bootstrap/22799354#22799354
//
.col-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths
{
   position: relative;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
}

.col-5ths
{
   -webkit-box-flex: 0;
   -webkit-flex: 0 0 20%;
   -ms-flex: 0 0 20%;
   flex: 0 0 20%;
   max-width: 20%;
}

@media (min-width: 576px)
{
  .col-sm-5ths
  {
     -webkit-box-flex: 0;
     -webkit-flex: 0 0 20%;
     -ms-flex: 0 0 20%;
     flex: 0 0 20%;
     max-width: 20%;
  }
}

@media (min-width: 768px)
{
  .col-md-5ths
  {

     -webkit-box-flex: 0;
     -webkit-flex: 0 0 20%;
     -ms-flex: 0 0 20%;
     flex: 0 0 20%;
     max-width: 20%;
  }
}

@media (min-width: 992px)
{
  .col-lg-5ths
  {
     -webkit-box-flex: 0;
     -webkit-flex: 0 0 20%;
     -ms-flex: 0 0 20%;
     flex: 0 0 20%;
     max-width: 20%;
  }

}

@media (min-width: 1150px)
{
  .col-xlg-5ths
  {
     -webkit-box-flex: 0;
     -webkit-flex: 0 0 20%;
     -ms-flex: 0 0 20%;
     flex: 0 0 20%;
     max-width: 20%;
  }

}

@media (max-width: 575px) {
  .navbar-toggleable-md > .container {
    margin-left: 0;
    margin-right: 0;
  }
}


a.unlink {
  color: inherit;
}

a.unlink:hover {
  color: inherit;
}

a.unlink:focus {
  color: inherit;
}

@media (min-width: 768px){
  .discipline-select{
     display: table;
    padding-left: 0;
      width: 100%;
      table-layout: fixed;
  }

  .discipline-select li {
     display: table-cell;
      text-align: center;
  }
}


.discipline-overlay {
  position: absolute;
  right: 15%;
  bottom: 50%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  background-color: rgba(1, 1, 1, 0.4);
}

#discipline-description {

  //margin: 0.5em;
  //margin-top: 1em;

  padding: 0.5em;

  background-color: $color-stem-bg;
 
  p {

    font-size: 1.1em;
    text-align: justify;

    &.lead {
      font-weight: 600;
      font-size: 1.4em;
    }
  }
}

.domain-desc {
  p {
      margin-left: 2em;
      margin-bottom: 0;
  }
  a {
    margin-left: 2em;
  }
}

.ci-unverified{
  color: #FF0202;
  i {
    color: #5bc0de;
  }
}

.ci-verified{
  color: #008000;
  i {
    color: #5bc0de;
  }
}

.feincms{
  div.image{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    background-color: $color-stem-bg;
    .caption {
      padding: .5em;
      display: block;
      text-align: center;
    }
    img{
      max-width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;

    }
  }
}
