{% if page_block %}
    <div class="discipline-overlay d-none d-md-block">
        <h3 class="text-capitalize">{{ page_block.title }}</h3>

        {% if page_block.contents_html %}
        <p>
            {{ page_block.contents_html|safe }}
        </p>
        {% endif %}
    </div>
{% endif %}
