{% extends "base.html" %}

{% load static i18n page_block %}

{% block content %}

  <div class="row mb-4">

    <div class="col-lg-2 d-none d-lg-inline-block">
      <ul class="nav flex-column" role="navigation">
        {% include "landing_page/sidebar-menu.html" %}
      </ul>
    </div>

    {% if current_discipline.slug == 'none' %}
      <div class="col-12 d-lg-none mt-3">
        {% page_block "landing-page-help" as="landing_block" %}
        {{ landing_block.contents_html|safe }}
      </div>
    {% endif %}


    <div class="col-xs-12 col-lg-10">

      {% if current_discipline.slug == 'none'  %}
        <div class="d-none d-lg-inline-block mt-3">
          {% page_block "landing-page-help" as="landing_block" %}
          {{ landing_block.contents_html|safe }}
        </div>
      {% endif %}


      <div class="carousel d-none d-md-block hidden-md-down mb-4">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static discipline_cover %}" alt="First slide">
            {% page_block discipline_block template="landing_page/landng-page-block.html" %}
          </div>
        </div>
      </div>

      <div id="discipline-description" class="mb-4">
        {% page_block discipline_description_block template="page_block/lead.html" %}
      </div>

    {% page_block workforce_block %}

    {% page_block rri_block %}

    {% page_block innovative_block %}

      <h1 class="mt-3">{%  trans "Featured" %}: </h1>
      {% if extra_languages %}
        <h4 class="text-muted">
          {% trans "Available in" %}:
          {% for code, lang in extra_languages %}
            {% trans lang as transed_lang %}
            {% if current_discipline.slug == 'none' %}
              <a href="{% url "content_item:search" %}?language={{ code }}">
                {{ transed_lang|capfirst }}</a>{% if not forloop.last %},{% endif %}
            {% else %}
              <a href="{% url "content_item:search" domain=current_discipline.slug %}?language={{ code }}">
                {{ transed_lang|capfirst }}</a>{% if not forloop.last %},{% endif %}
            {% endif %}
          {% endfor %}
        </h4>
      {% endif %}

      <div class="container">
        <div class="row">
          {% for content_item in featured_content_items %}
            {% include "content_item/fragments/content_item_search_snippet.html" %}
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block page_js %}
  {{ block.super }}

  <script type="text/javascript">
    $(".card").each(function () {
      var $el = $(this);
      var $text = $el.find('.card-body');
      $text.hide();
      $el.find(".card-header").on('click', function () {
        $text.toggle(500);
      });
    });
  </script>
{% endblock %}
