{% load cache i18n menu_links %}

{% get_current_language as language_code %}

{% menu_links "menu_links" language=language_code %}

{% for link in menu_links %}
      <li class="nav-item">
          {% if link.url %}
          <a class="nav-link{% if link.active %} active{% endif %}" href="{{ link.url }}">{{ link.label }}</a>
          {% else %}
          <a class="nav-link disabled" href="#"><strong>{{ link.label }}</strong></a>
          {% endif %}
      </li>
{% endfor %}
