{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Course List" %}{% endblock %}

{% block content %}

<div class="container">
    <h2>{% trans "Courses" %}</h2>

    {% if courses %}
    <div class="card-columns">
        {% for course in courses %}
        <div class="card">
            {% if course.cover_image %}
            <img class="card-img-top img-fluid" src="{{ course.cover_image.url }}" alt="{{ course.name }}">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title">{{ course.name }}</h4>
                <p class="card-text">{{ course.description }}</p>
                <a href="{% url 'course:detail' course.id %}" class="card-link">{% trans "Go to course" %}</a>
            </div>
            <div class="card-footer text-muted">
                <p class="small">{% trans "Last modified at" %} {{ course.updated_at }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>{% trans "No course available at the moment." %}</p>
    {% endif %}
</div>

{% endblock content %}

