{% extends "base.html" %}
{% load bootstrap3 i18n static formset_tags %}

{% block title %}{{ course.name }}{% endblock %}

{% block content %}
  <div id="items" class="container">
    <h1>{% trans "Course metadata" %}</h1>
    <form action="" method="post" class="form" enctype="multipart/form-data">{% csrf_token %}
      {% bootstrap_form form %}
      <button class="btn btn-primary">{% trans "Submit" %}</button>
    </form>
  </div>

  {% if filter_form %}

  <h1>{% trans "Course content" %}</h1>
  <div class="container">
    <table id="items" class="table table-bordered">
      <thead>
      <tr>
        <td>{% trans "Index" %}</td>
        <td>{% trans "Content Item Name" %}</td>
        <td>{% trans "Content Item Language" %}</td>
        <td>{% trans "Operations" %}</td>
      </tr>
      </thead>
      <tbody>
      {% for item in course_items %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ item.content_item.title }}</td>
          <td>{{ item.content_item.language }}</td>
          <td>
            <form method="post" action="{% url "course:down" pk=item.pk%}">
              {% csrf_token %}
              <button class="btn btn-sm btn-default">
                <i aria-hidden class="fa fa-arrow-down"></i> <span class="sr-only">{% trans "Move down" %}</span>
              </button>
            </form>
            <form method="post" action="{% url "course:up" pk=item.pk%}">
              {% csrf_token %}
              <button class="btn btn-sm btn-default">
                <i aria-hidden class="fa fa-arrow-up"></i> <span class="sr-only">{% trans "Move up" %}</span>
              </button>
            </form>
            <form method="post" action="{% url "course:delete" pk=item.pk%}">
              {% csrf_token %}
              <button class="btn btn-sm btn-danger"><i aria-hidden class="fa fa-times-circle"></i> <span class="sr-only">{% trans "Delete" %}</span>
              </button>
            </form>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">{% trans "Course items will be here once you add some!" %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <h2>{% trans "Add new content" %}</h2>
  <h4>{% trans "Filter content items" %}</h4>

  <form method="get" class="form-inline" id="filter-form">
    {#  <label class="sr-only" for="language-input">Language</label>#}
    {#  <select name="language" id="language-input" class="form-control">#}
    {#    <option value="">{% trans "Select language here to filter" %}</option>#}
    {#    {% for language in LANGUAGES %}#}
    {#      <option value="{{ language.0 }}">{{ language.1 }}</option>#}
    {#    {% endfor %}#}
    {#  </select>#}
    {#  <label class="sr-only" for="discipline-input">Discipline</label>#}
    {#  <select name="discipline" id="discipline-input" class="form-control ml-4">#}
    {#    <option value="">{% trans "Select discipline here to filter" %}</option>#}
    {#    {% for discipline in disciplines %}#}
    {#      <option value="{{ discipline.slug }}">{% trans discipline.name %}</option>#}
    {#    {% endfor %}#}
    {#  </select>#}

    {% bootstrap_form filter_form layout=inline %}

    <button class="btn btn-default">{% trans "Apply filters" %}</button>

  </form>

  <h4>{% trans "Add new materials" %}</h4>

  <form method="post" class="form" action="{% url "course:add_item" course_id=object.pk %}" id="add-form">
    {% csrf_token %}
    {% bootstrap_form item_add_form layout="inline" %}
    <button class="btn btn-primary">{% trans "Add new material" %}</button>
  </form>

  {% endif %}

{% endblock content %}

{% block page-css %}
  <style>
    h4{
      margin-top: .7em;
    }
    #filter-form .control-label{
      margin-left: 1em;
      margin-right: .3em;
    }
    #filter-form button{
      margin-left: 1em;
    }
    #add-form .control-label{
      margin-left: 1em;
      margin-right: .3em;
    }
    #add-form [for=id_content_item]{
      display: none
    }
    #items .btn-sm {
      margin-left: .3em;
      margin-right: .3em;
    }
    #items form {
      display: inline;
    }
  </style>
{% endblock %}

{% block page_js %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" integrity="sha384-RdQbeSCGSeSdSlTMGnUr2oDJZzOuGjJAkQy1MbKMu8fZT5G0qlBajY0n0sY/hKMK" crossorigin="anonymous"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js" integrity="sha384-uQwKPrmNkEOvI7rrNdCSs6oS1F3GvnZkmPtkntOSIiPQN4CCbFSxv+Bj6qe0mWDb" crossorigin="anonymous"></script>
<script>
  $("#id_content_item").select2()
</script>
{% endblock %}
