{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{ course.name }}{% endblock %}

{% block content %}
<div class="container-fluid">
    {% if course.cover_image_resized %}
    <img class="cover-image" src="{{ course.cover_image_resized.url }}" alt="{{ course.name }}">
    {% endif %}
</div>

<div class="container">
    <div class="jumbotron">
        {% if is_owner %}
        <div class="row justify-content-end">
            <div class="col-1">
                <a href="{% url "course:edit" course.pk %}" type="button" class="btn btn-primary btn-sm">{% trans "Edit" %}</a>
            </div>
            <div class="col-1">
                <a href="{% url "course:delete" course.pk %}" type="button" class="btn btn-danger btn-sm">{% trans "Delete" %}</a>
            </div>
        </div>
        {% endif %}
        <h1 class="display-3">{{ course.name }}</h1>
        <div class="lead">
            {{ course.description }}
        </div>
        <div class="small mt-3">
            <p>{% trans "Created at" %} {{ course.created_at }}</p>
            <p>{% trans "Last modified at" %} {{ course.updated_at }}</p>
        </div>
    </div>

    <div>
        {% for item in course.items.all %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'course:lesson' course.id forloop.counter %}">{{ item.title }}</a>
                </h5>
                <p class="card-text">{{ item.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

