{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ course.name }}{% endblock %}

{% block content %}
<form action="" method="post" class="form">
    {% csrf_token %}
    <p>{% trans "Are you sure you want to delete" %} "{{ object }}"?</p>
    <button type="submit" class="btn btn-danger">{% trans "Confirm" %}</button>
</form>
{% endblock content %}

