{% extends "base.html" %}
{% load bootstrap3 i18n static %}

{% block title %}{{ course.name }}::{{ lesson.number }} – {{ lesson.content.title }}{% endblock %}

{% block content %}
<div class="container-fluid">
    {% if course.cover_image %}
    <img class="cover-image" src="{{ course.cover_image.url }}" alt="{{ course.name }}">
    {% endif %}
</div>

<div class="container mt-3 pt-3 {{ lesson.content.main_discipline.slug }}">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    <h5><a href="{% url 'course:detail' course.id %}">
                        {% trans "Course outline" %}
                    </a></h5>
                </div>
                <div class="list-group list-group-flush">
                {% for item in course.items.all %}
                    <a href="{% url 'course:lesson' course.id forloop.counter %}"
                    class="list-group-item list-group-item-action {% if forloop.counter == lesson.number %}active{% endif %}">
                        {{ item.title }}
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col content-item-title">
                    <h2 class="discourse-embed">{{ lesson.content.title }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col content-item-authors">
                    <strong>{% trans "Authors" %}:</strong> {% for author in lesson.content.authors %} {{ author }}{% if not forloop.last %},{% endif %} {{ endif }}{% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr class="content-item-titleseparator" />
                </div>
            </div>
            {% if lesson.content.description %}
            <div class="row">
                <div class="col content-item-description discourse-embed">
                    <a data-toggle="collapse" href="#content-description" aria-expanded="false" aria-controls="content-description">
                        {% trans "Description" %}
                    </a>
                    <div id="content-description" class="collapse">
                    {{ lesson.content.description }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if default_resource %}
            <div class="container content-item-padded-row-top {{ lesson.content.field }}">
                <div class="content-item-resource-list" id="resourceList">
                {% with default_resource as resource_manager  %}
                {% with default_resource.resource as resource_obj  %}
                    <div class="resource-tile">
                    {% include default_resource.template_name %}
                    </div>
                {% endwith %}
                {% endwith %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
<div class="container mb-3">
    <div class="row">
        <div class="col offset-sm-3">
            {% if lesson.has_prev %}
            <a href="{% url 'course:lesson' course.id lesson.number|add:"-1" %}" class="btn btn-primary">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
            {% endif %}
        </div>
        <div class="col text-right">
            {% if lesson.has_next %}
            <a href="{% url 'course:lesson' course.id lesson.number|add:"1" %}" class="btn btn-primary">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock footer %}


