{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% get_providers as socialaccount_providers %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="mb-5">{% trans "Sign In" %}</h1>

      <h2 class="mb-4">{% trans "Sign in using third-party services" %}</h2>


      <a
          class="btn btn-primary btn-lg"
          title="Log-in with google"
          href="{% provider_login_url 'google' process=process scope=scope auth_params=auth_params %}"
      >
        <i class="fa fa-google-plus"></i> {% trans "Log in with your google account" %}
      </a>
      <p class="text-muted">
        {% blocktrans %}By logging in you agree to page terms and conditions avaliable at <a href="/terms">/terms page.</a>{% endblocktrans %}
     </p>

      <h2 class="mt-4 mb4">{% trans "Sign-in using username and password." %}</h2>
      {% include "socialaccount/snippets/login_extra.html" %}

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
            <a class="btn btn-secondary btn-sm" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <a class="btn btn-secondary btn-sm" href="{% url 'account_signup' %}">{% trans "Create account" %}</a>
            <p class="text-muted">
              {% blocktrans %}By logging in you agree to page terms and conditions avaliable at <a href="/terms">/terms page.</a>{% endblocktrans %}
            </p>
          </form>
        </div>
      </div>

    </div>
  </div>
{% endblock %}

