{% load i18n %}

<div class="resource-wrapper" data-resource-pk="{{ resource_obj.pk }}">
  <div id="resource-tile">
    {% block resource-tile %}{% endblock %}
    {% if resource.default %}
    <i class="fa fa-star" aria-hidden="true" title="{% trans "default" %}"></i>
    {% endif %}
  </div>
  <hr class="resource-separator">
  <div class="col-12 resource-title-full">
    <a class="unlink"
      {% block resource-href-default %}{% endblock %}
      >
    {{ resource_obj.title }}
    {% if resource_obj.default %}
    <i class="fa fa-star" aria-hidden="true" title="{% trans "default" %}"></i>
    {% endif %}
    {% block title-extra %} {% endblock %}
    </a>
  </div>
  <hr class="resource-separator">
  <div class="col-md-12">
    <div class="resource-tile-icons-row">
      <div>
        {% block resource-buttons %}{% endblock %}
      </div>
    </div>
  </div>
</div>
