{% extends "content_item/resources/resource_tile.html" %}
{% load static %}

{% block label %}
  {{ resource_obj.title }}
  {{ resource_obj.description }}
  {{ resource_manager.license_label }}
{% endblock %}

{% block type %}
  HTML
{% endblock %}

<!-- below a tag was added so that tooltip can be rendered -->
{% block title %}
<a data-toggle="tooltip" title="{{ resource_obj.title }}">
  {{ resource_obj.title|truncatechars:8 }}
</a>
{% endblock %}

{% block bottom %}
  <g transform="scale(0.75) translate(20, 150)">
    <a xlink:href="{{ resource_manager.license_url }}">
      <image height="42" width="120" viewBox="0 0 120 42" xlink:href="{% static resource_manager.license_icon %}" />
    </a>
  </g>
{% endblock %}
