{% extends "content_item/resources/abstract_resource.html" %}
{% load static %}

{% block resource-tile %}
  <a
    href="{{ resource_manager.default_derivative.download_url }}"
    title="{{ resource_obj.description }}"
    target="_blank"
    class="unlink"
  >
    {% include "content_item/resources/document_tile.html" %}
  </a>
{% endblock %}

{% block resource-href-default %}
href="{{ resource_manager.default_derivative.download_url }}"
title="{{ resource_obj.description }}"
target="_blank"
{% endblock %}

{% block resource-buttons %}

  {% with resource_obj.documentresource as document %}
    {% if not document.is_complete and resource_manager.user_has_edit_access %}
      <a class="upload-link"
         data-type="{{ resource_obj.type }}"
         href="{% url "resource:document-upload" pk=resource_obj.pk%}">
        <i class="fa fa-exclamation-triangle resource-tile-action-icon" aria-hidden="true"></i>
      </a>
    {% endif %}

    {% for derivative in resource_manager.derivatives %}
      {% if derivative.is_ready %}
        <a class="download-link" href="{{ derivative.download_url }}" title="{{ derivative.link_text }}">
          <i class="{{ derivative.link_icon }} resource-tile-action-icon"></i>
        </a>
      {% endif %}
    {% endfor %}

    {%  if resource_manager.user_has_edit_access %}
      <a class="edit-link metadata"
         data-type="{{ resource_obj.type }}"
         href="{% url "resource:document-edit-metadata" pk=resource_obj.pk %}"
      >
        <i class="fa fa-pencil-square-o resource-tile-action-icon" aria-hidden="true"></i>
      </a>
      <a class="edit-link data"
         data-type="{{ resource_obj.type }}"
         href="{% url "resource:document-upload" pk=resource_obj.pk %}"
      >
        <i class="fa fa-file-text-o resource-tile-action-icon" aria-hidden="true"></i>
      </a>
      <a class="delete-link"
         data-type="{{ resource_obj.type }}"
         href="{% url "resource:delete" pk=resource_obj.pk%}"
      >
        <i class="fa fa-trash resource-tile-action-icon" aria-hidden="true"></i>
      </a>
    {% endif %}
  {% endwith %}

{% endblock %}
