{% extends "content_item/resources/abstract_resource.html" %}
{% load static %}

{% block resource-tile %}
  <a href="{{ resource_obj.fileresource.download_url }}"
     title="{{ resource_obj.description }}"
     target="_blank"
     class="unlink"
    >
  {% include "content_item/resources/file_tile.html" %}
  </a>
{% endblock %}

{% block resource-href-default %}
     href="{{ resource_obj.fileresource.download_url }}"
     title="{{ resource_obj.description }}"
     class="unlink"
     target="_blank"
{% endblock %}

{% block resource-buttons %}
    {% if resource_obj.fileresource.is_complete %}
    <a class="resource-tile-action-icon" href="{{ resource_obj.fileresource.download_url }}"
       title="{{ resource_obj.description }}"
       target="_blank"
    >
      <i class="fa fa-download" aria-hidden="true"></i>
    </a>
    {% endif %}

    {% if not resource_obj.fileresource.is_complete and resource_manager.user_has_edit_access %}
      <a class="upload-link resource-tile-action-icon"
         data-type="{{ resource_obj.type }}"
         href="{% url "resource:file-upload" pk=resource_obj.pk%}">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      </a>
    {% endif %}

    {%  if resource_manager.user_has_edit_access %}
      <a class="edit-link resource-tile-action-icon"
         data-type="{{ resource_obj.type }}"
         href="{% url "resource:file-edit" pk=resource_obj.pk%}">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </a>
      <a class="upload-link resource-tile-action-icon"
         data-type="{{ resource_obj.type }}"
         href="{% url "resource:file-upload" pk=resource_obj.pk%}">
        <i class="fa fa-upload" aria-hidden="true"></i>
      </a>
      <a class="delete-link resource-tile-action-icon"
         data-type="{{ resource_obj.type }}"
         href="{% url "resource:delete" pk=resource_obj.pk%}">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </a>

    {% endif %}
{% endblock %}
