{% extends "content_item/resources/abstract_resource.html" %}
{% load static %}

{% block resource-tile %}
  <a href="{{ resource_obj.linkresource.url }}"
     title="{{ resource_obj.description }}"
     class="unlink"
     target="_blank">
    {% include "content_item/resources/link_tile.html" %}
  </a>
{% endblock %}

{% block resource-href-default %}
   href="{{ resource_obj.linkresource.url }}"
   title="{{ resource_obj.description }}"
   class="unlink"
   target="_blank"
{% endblock %}

{% block resource-buttons %}
  <a href="{{ resource_obj.linkresource.url }}"
     title="{{ resource_obj.description }}"
     class="resource-tile-linkresource-url"
     target="_blank">
    <i class="fa fa-external-link resource-tile-action-icon" aria-hidden="true"></i>
  </a>

  {% if resource_manager.user_has_edit_access %}
    <a class="edit-link"
       data-type="{{ resource_obj.type }}"
       href="{% url "resource:link-edit" pk=resource_obj.pk %}"
    >
      <i class="fa fa-pencil-square-o resource-tile-action-icon" aria-hidden="true"></i>
    </a>
    <a class="delete-link"
       data-type="{{ resource_obj.type }}"
       href="{% url "resource:delete" pk=resource_obj.pk%}"
    >
      <i class="fa fa-trash resource-tile-action-icon" aria-hidden="true"></i>
    </a>

  {% endif %}
{% endblock %}
