{% load static %}

<div class="col-md-12 resource-tile-svg-container">
  <svg width="120" height="160" viewBox="0 0 120 160"
       xmlns:xlink="http://www.w3.org/1999/xlink"
       xmlns="http://www.w3.org/2000/svg"
       version="1.2" baseProfile="tiny"
       role="img"
       aria-label="{% block label %}{% endblock %}"
  >

    <polygon points="10,2 87,2 110,23 110,148 10,148" class="resource-tile-icon-body" />
    <rect height="27" width="60" x="0" y="15" class="resource-tile-icon-typefield"/>
    <polygon points="0,42 9,42 9,51" class="resource-tile-icon-fillcorner" />

    {% block graphics %}
      <!-- additional graphic shapes go here -->
    {% endblock %}

    <text x="0" y="0" text-anchor="middle" class="resource-tile-type-text">
      <path id="typePath-{{ resource_obj.pk }}"
          d="M   0 33
             L  60 33" />
      <textPath xlink:href="#typePath-{{ resource_obj.pk }}" startOffset="50%">
        {% block type %}{% endblock %}
      </textPath>
    </text>

    <text x="16" y="0" class="resource-tile-title">
      <path id="titlePath-{{ resource_obj.pk }}"
          d="M   0 70
             L 100 70" />
      <textPath xlink:href="#titlePath-{{ resource_obj.pk }}">
        {% block title %}{% endblock %}
      </textPath>
    </text>

    <foreignObject width="90" height="50" x="16" y="75">
      <body xmlns="http://www.w3.org/1999/xhtml">
        <p class="resource-tile-comments">{{ resource_obj.role|default:""}}</p>
      </body>
    </foreignObject>

    {% block bottom %}{% endblock %}
  </svg>
</div>
