{% extends "content_item/resources/abstract_resource.html" %}
{% load static %}

{% block resource-tile %}
  <a target="_blank" href="http://www.youtube.com/watch?v={{ resource_obj.fileresource.videoresource.youtube_id }}">
  {% include "content_item/resources/video_tile.html" %}
</a>
{% endblock resource-tile %}

{% block resource-href-default %}
  target="_blank" href="http://www.youtube.com/watch?v={{ resource_obj.fileresource.videoresource.youtube_id }}"
  class="unlink"
{% endblock %}

{% block title-extra %}
  <br><small>{{ resource_obj.role }}</small>
{% endblock %}



{% block resource-buttons %}
  {% if resource_obj.fileresource.is_complete %}
  <a class="resource-tile-action-icon" href="{{ resource_obj.fileresource.download_url }}"
     title="{{ resource_obj.description }}"
     target="_blank"
  >
    <i class="fa fa-download" aria-hidden="true"></i>
  </a>
  {% endif %}

  {% if not resource_obj.fileresource.is_complete and resource_manager.user_has_edit_access %}
    <a
       class="upload-link resource-tile-action-icon"
       data-type="{{ resource_obj.type }}"
       href="{% url "resource:video-upload" pk=resource_obj.pk%}">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    </a>
  {% endif %}

  {%  if resource_obj.fileresource.videoresource.youtube_id %}
    <a href="http://www.youtube.com/watch?v={{ resource_obj.fileresource.videoresource.youtube_id }}"
       class="resource-default"
       target="_blank">
      <i class="fa fa-youtube" aria-hidden="true"></i>
    </a>
  {% endif %}

  {%  if resource_manager.user_has_edit_access %}
    <a class="edit-link"
       data-type="{{ resource_obj.type }}"
       href="{% url "resource:video-edit" pk=resource_obj.pk%}">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </a>
    <a class="delete-link resource-tile-action-icon"
       data-type="{{ resource_obj.type }}"
       href="{% url "resource:delete" pk=resource_obj.pk%}">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </a>
  {% endif %}
{% endblock resource-buttons %}
